@{
    ViewData["Title"] = "Contact us";
}

<html>
    <head>
       
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' type="text/css" href="CSS/styles.css"/>
        <style>
            #IMAGETITLE{
                padding-left: 850px;
                   text-align: center;
            }  
           
            .form{
                text-align: center;
            }
            input[type=text], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 12px;
  display: inline-block;
}

input[type=submit] {
  background-color: grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: grey;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
input[type=submit] {
  width: 100%;
  background-color: grey;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: grey;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: grey;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.form{
    margin-left: 500px;
    margin-right: 500px;
}
.main{
    text-align: center;
    font-family: bold;
    font-size: 40px;   
}
.second{
  text-align: center;
    font-family: inherit;
    text-transform:lowercase;
    font-size: 20px; 
    margin-left: 500px;
    margin-right: 500px;
    font-style: oblique
     
}
.hr{
    margin-left: 800px;
    margin-right: 800px
}
    </style>
    </head>
    <body>
                
        </div>
        <hr class="ggg"/>
        <div>
            <p class='main'> CONTACT US </p>
            <hr class='hr'/>
            <br>
            <p class='second'> ONE THING THAT WE MUST KNOW IN OUR LIFE IS EVERYONE IS NOT PERFECT YOU WILL CERTAINELY ASK YOURSELF WHAT DO THEY MEAN BY THAT ,SIMPLE EVERY WEBSTITE ARE NOT PERFECT MEANS THAT WE EVERYTIME NEED TO ADD SOMETHING NEW AND TO UPDATE THAT AND YOU WILL CERTAINELY ASK YOURSELF AGAIN WHAT DO THEY MEAN BY THAT, SIMPLE AGAIN YOU MUST CERTAINELY NEED MORE INFORMATION ABOUT US OR ABOUT HOW ARE WE WORKING THAT WHY WE CREATED THIS FORM JUST FOR YOU TO FILL AND ASK QUESTIONS ABOUT WHAT FURTHER INFORMATION YOU WANT TO KNOW ABOUT US</p>
        </div>
        <div class='form'>
        <form asp-controller="Contact" asp-action="Contact" method="post">
    <div class="row">
      <div class="col-25">
        <label for="fname">First Name</label>
      </div>
      <div class="col-75">
        <input type="text"  name="FirstName" placeholder="Your name.." required/>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Email</label>
      </div>
      <div class="col-75">
        <input type="text" name="Email" placeholder="Your Email.." required/>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country">Country</label>
      </div>
      <div class="col-75">
        <select  name="Country" >
                        <option value="ANGOLA">ANGOLA</option>
          <option value="ALGERIA">ALGERIA</option>
          <option value="SOUTH AFRICA">SOUTH AFRICA</option>
          <option value="CONGO">CONGO</option>
          <option value="LIBERIA">LIBERIA</option>
          <option value="BELGIUM">BELGIUM</option>
          <option value="DUBAI">DUBAI</option>
          <option value="MADAGASCAR">MADAGASCAR</option>
          <option value="MEXICO CITY">MEXICO CITY</option>
          <option value="usa">USA</option>
        </select> 
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Subject</label>
      </div>
      <div class="col-75">
          <textarea  name="Subject" placeholder="Write something.." style="height:200px" required=""></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit enquiry">
    </div>
  </form>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3309.131495843217!2d18.470993951363983!3d-33.96345953131558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc5d28442d419d%3A0x371e5f6d30138ff9!2s2%20College%20Rd%2C%20Rondebosch%2C%20Cape%20Town%2C%207700!5e0!3m2!1sen!2sza!4v1665964176815!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <hr/>                      
    </body>
</html>

