@{
    ViewData["Title"] = "Log in failed";
}
<div class="about">
    <p class='main'> User Not Found  404</p>
    <hr />
    <p class="about">
        " Please Go back to the log in page and try again if you do not have an account go back to the sign up page  "
    </p>

    
    <hr />
</div>
