@{
    ViewData["Title"] = "My Work";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type="text/css" href="CSS/styles.css" />
    <style>
        #IMAGETITLE {
            padding-left: 850px;
            text-align: center;
        }

        .flex2 {
            display: flex;
            flex-flow: row wrap;
            margin-left: 200px;
            margin-top: 100px;
        }

        .aid {
            width: 50%
        }

        img.aid {
            border-radius: 50%;
            width: 200px;
        }

        .sep {
            margin-left: 200px;
            margin-right: 200px
        }

        .title {
            text-align: center;
            font-weight: bold;
            font-size: 20px
        }

        .modify1 {
            text-align: center;
            font-weight: bold;
            font-size: 30px
        }

        .modify2 {
            text-align: center;
            font-size: 25px;
            font-style: oblique;
            text-transform: lowercase
        }

        .one {
            padding-top: 50px;
        }

        .content {
            text-align: center;
            font-size: 25px;
            font-style: oblique;
            text-transform: lowercase
        }

        .button {
            text-align: center;
            padding: 10px;
            background-color: gray;
            margin-left: 300px;
            margin-right: 300px
        }

        .link {
            text-decoration: none;
            color: whitesmoke
        }

        .ggg {
            margin-right: 500px;
            margin-left: 500px
        }
    </style>
</head>
<body>      
            <p class="modify1">My Work</p>
            <br>
    <p class="modify2">"At KhumaloCraft Emporium, we curate a global marketplace where artisans from around the world showcase their handcrafted products. Our platform provides a seamless and enjoyable shopping experience for customers who appreciate creativity and craftsmanship. We leverage cutting-edge cloud computing technologies to ensure scalability, accessibility, and user-friendliness. Our mission is to connect artisans with a discerning audience, promoting cultural exchange and celebrating the beauty of handmade goods. With advanced features such as search capabilities, notifications, and serverless services, we strive to continuously enhance the user experience. At KhumaloCraft Emporium, we're not just selling products; we're fostering a community of artisans and customers who share a passion for quality craftsmanship and global creativity."</p>
        </div>
        <hr class="sep" />
        <div class="flex2">
            <div class="aid">
                <img src="~/Handmade-Christmas-crafts.jpg" width="100" height="200" alt="alt" class="aid" />
            </div>
            <div class="aid">
            <p class="title">Handmade Christmas Crafts</p>
                <br>
            <p class="content">Handmade Christmas crafts are among the easiest ones for both adults and kids. They are creative and beautiful to try out and can bring us immense joy in the process itself</p>
                <br>
                <p class="button">
                <a class="link" href="firstaiddetailpage.html">PRICE:650R</a>
                </p>
            </div>
        </div>
        <hr class="sep" />
        <div class="flex2">
            <div class="aid">
            <p class="title">Handmade Leather Craft</p>
                <br>
            <p class="content">The beautiful leather craft effortlessly looks rich, plush, and classic quickly</p>
                <br>
                <p class="button">
                <a class="link" href="">PRICE:450R</a>
                </p>
            </div>
            <div class="aid">
                <img src="~/Handmadeleathercraft.jpg" width="100" height="200" alt="alt" class="aid" />
            </div>
        </div>
        <hr class="sep" />
        <div class="flex2">
            <div class="aid">
                <img src="~/Handcrafted-jewelry.jpg" width="100" height="200" alt="alt" class="aid" />
            </div>
            <div class="aid">
            <p class="title">Handcrafted Jewelry</p>
                <br>
            <p class="content">Who doesn’t love jewellery, especially the beautiful women out here?! Do you know, you too can make your own jewellery at home and a similar neckpiece, all at your convenience? Yes, you heard us right</p>
                <br>
                <p class="button">
                <a class="link" href="thirddet.html">PRICE:350R</a>
                </p>
            </div>
        </div>
        <hr class="sep" />
        <div class="flex2">
            <div class="aid">
            <p class="title">Handcrafted Pottery</p>
                <br>
            <p class="content">The pottery itself is charming and beautiful in its looks and creativity</p>
                <br>
                <p class="button">
                    <a class="link" href="">PRICE:250R</a>
                </p>
            </div>
            <div class="aid">
                <img src="~/Handcrafted-pottery.jpg" width="100" height="200" alt="alt" class="aid" />
            </div>

        </div>
        <hr />
</body>
</html>
